/* Account.css */

.main {
  background-color: #12002b; /* Dark background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 80%;
  margin: 0 auto 1.5rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.account-content-wrapper {
  flex: 1;
  text-align: left;
}

.account-title {
  font-size: 1rem;
  color: #333;
  font-weight: normal;
}

.account-amount {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 0.5rem 0;
}

.account-amount-description {
  font-size: 0.875rem;
  color: #7b8a8b;
  margin: 0;
}

.transaction-button {
  background-color: #00bc77;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}

.transaction-button:hover {
  background-color: #009f63;
}
