
  .main {
    background-color: #12002b; /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-in-content {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    color: #000;
  }
  
  .sign-in-icon {
    font-size: 50px;
    color: #2c3e50;
  }
  
  .input-wrapper {
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper label {
    color: #000; /* Assurez-vous que le texte est noir ou d'une couleur visible */
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

  
  .input-wrapper input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
   
  }
  
  .input-remember {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-remember label {
    color: #000;
    margin-left: 0.5rem;
  }
  
  .sign-in-button {
    width: 80%;
    padding: 10px;
    background-color: #00bc77; /* Green button */
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
 
  
 