.main {
  background-color: #12002b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Mobile styles */
.sign-in-content {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; /* Plus large sur mobile */
  max-width: 300px;
  color: #000;
}

.sign-in-icon {
  font-size: 40px; /* Taille plus petite pour les écrans mobiles */
  color: #2c3e50;
}

.input-wrapper {
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #000;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-wrapper input {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.input-remember {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-remember label {
  color: #000;
  margin-left: 0.5rem;
}

.sign-in-button {
  width: 100%; /* 100% sur mobile */
  padding: 10px;
  background-color: #00bc77;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Styles pour les écrans moyens et plus grands */
@media (min-width: 768px) {
  .sign-in-content {
      width: 300px; /* Taille fixe pour les écrans plus grands */
  }

  .sign-in-icon {
      font-size: 50px;
  }

  .sign-in-button {
      width: 80%; /* 80% sur les écrans plus larges */
  }
}
