
=======
.welcome {
    text-align: center; /* Centrer le texte dans l'en-tête */
    color: white; /* Couleur du texte */
    margin-bottom: 2rem; /* Espacement en bas */
}
.welcome button {
    background-color: #00bc77; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 0.5rem 1rem; /* Espacement interne du bouton */
    border-radius: 0.25rem; /* Arrondir les coins du bouton */
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Changer le curseur au survol */
}

>>>>>>> fa7c6bf (lost fichier header did again commit header.jsx  + css & signOut.jsx component)
