.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 1rem; /* Augmentation de l'espace entre les éléments */
}
.main-nav-item i {
  margin-right: 0.5rem; /* Augmentation de l'espace entre l'icon et le texte */
}

.main-nav-item:last-child {
  margin-right: 0; /* Supprime la marge du dernier élément */
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.sign-out-button {
  background-color: transparent; /* Arrière-plan transparent */
  border: none; /* Pas de bordure */
  color: #2c3e50; /* Couleur de texte */
  cursor: pointer; /* Curseur pour indiquer que c'est cliquable */
}

.sign-out-button:hover {
  text-decoration: underline; /* Soulignement au survol */
}
